{% extends 'base.html.twig' %}

{% block title "Creer une nouvelle recette" %}

{% block body %}

<div class="container mt-4">
   <h1>Creer une nouvelle recette</h1>


   {{ form(form) }}
 


</div>
{% endblock %}
